@import "tailwindcss" ; 

/* MODO CLARO: */

@theme {
  --color-fondo: oklch(0.968 0.007 247.896);
  --color-texto: oklch(0.147 0.004 49.25);
  --color-fondo-nav:oklch(0.968 0.007 247.896/ 0.8);
  --color-fondo-footer:oklch(0.554 0.046 257.417 /0.1);
  --color-shadow-tarjed-project: 0 4px 6px oklch(0.446 0.043 257.281);
  --color-border-tarjed-project: oklch(0.147 0.004 49.25);
  /* Hacer linear gradient separador de secciones: */
  --color-gradient: linear-gradient(to right, #00000000 0%, #000000b3 50%, #00000000 100%);
  --color-hover:oklch(0.271 0.105 12.094);
  --color-pointer: oklch(0.279 0.041 260.031 / 0.8);
}

/* Modo oscuro */
.dark {
  --color-fondo: oklch(0.21 0.006 285.885);
  --color-fondo-nav:oklch(0.21 0.006 285.885/ 0.8);
  --color-texto: oklch(0.985 0.001 106.423);
  --color-gradient: linear-gradient(to right, #ffffff00 0%, #ffffff80 50%, #ffffff00 100%);
  --color-shadow-tarjed-project: 0 2px 4px oklch(0.929 0.013 255.508);
  --color-border-tarjed-project: oklch(0.985 0.001 106.423);
  --color-fondo-footer:oklch(0.284 0.109 3.907 /0.1);
  --color-hover:oklch(0.985 0.001 106.423);
  --color-pointer: oklch(0.704 0.04 256.788 / 0.8)
}

/* ESTILOS GLOBALES, se importa en main.jsx */
* {
  padding: 0;
  box-sizing: border-box; 
}

/* Estilos globales */
html, body {
  width:100%;
  height: 100vh;
  overflow-x: hidden; 
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  /* Transition para el cambio de tema: */
  transition: background-color 0.8s ease, color 0.8s ease;  
}

a {
  text-decoration: none;
  color: inherit;
}

/* CLASE PARA LINEAR GRADIENT: */
.bg-separador {
  background: var(--color-gradient);
}


/* Para el cursor personalizado cuando la pantalla es lg: */
@media (min-width: 1024px) {
  * {
    cursor: none;
  }
} 