@import "tailwindcss" ; 



@import "tailwindcss";
/* MODO CLARO: */
@theme {
  --color-fondo: oklch(0.968 0.007 247.896);
  --color-fondo: oklch(0.968 0.007 247.896);
  --color-tarjetas: green;
  --color-texto: oklch(0.37 0.013 285.805);
  --color-acento: #00A8E8;
  --color-morado: #8A2BE2;
  --color-fondo-nav:oklch(0.968 0.007 247.896/ 0.8);
  --color-shadow-tarjed-project: oklch(0.442 0.017 285.786);
  /* Hacer linear gradient separador de secciones: */
  --color-gradient: linear-gradient(to right, #985 0%, #854885 50%, #985 100%);
}

/* Modo oscuro */
 .dark {
  --color-fondo: oklch(0.21 0.006 285.885);
  --color-fondo-nav:oklch(0.21 0.006 285.885/ 0.8);
  --color-tarjetas: yellow;
  --color-texto: oklch(0.985 0.001 106.423);
  --color-acento: #00A8E8;
  --color-morado: #8A2BE2;
  --color-gradient: linear-gradient(to right, #ffffff00 0%, #ffffff80 50%, #ffffff00 100%);
  --color-shadow-tarjed-project: 0 2px 4px oklch(0.929 0.013 255.508);
}

/* ESTILOS GLOBALES, se importa en main.jsx */
* {
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  height: 100vh; 
  /* Transition para el cambio de tema: */
  transition: background-color 0.8s ease, color 0.8s ease;      
  height: auto;   
}

a {
  text-decoration: none;
  color: inherit;
}

/* CLASE PARA LINEAR GRADIENT: */
.bg-separador {
  background: var(--color-gradient);
}